* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke !important;
}

/* Header Start */


header nav {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

nav .logo {
    margin: auto 0;
    font-size: 25px;
    font-weight: bold;
}

nav .char {
    margin-top: auto 0;
    font-size: 14px;
}

nav .char .char-profile p span {
    float: right !important;
}

nav .char .char-profile {
    display: flex;

}

nav .char .char-profile img {
    width: 30px;
    height: 30px;
    margin: 5px 0 0px 10px;
    padding: 0;
}

/* Header End */



/* Admin Start */


.Admin-date {
    width: fit-content;
    padding: 5px;
    background-color: darkgray !important;
    border-radius: 10px;
}

.Admin-date input {
    border: none;
    outline: none;
    background-color: transparent !important;
    padding: 0 10px;
    color: #fff;
}

.Admin-date:hover, .Admin-date input:hover {
    cursor: pointer;
    background-color: #fff;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.items .card {
    margin: 10px 10px;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff !important;
    box-shadow: 0px 0px 10px #0009;
    border: none;
}

.items .card .card-body {
    background-color: #fff !important;
}

.items .card .card-body h3 {
    font-weight: bold;
}

.items .card .card-body h5, .items .card .card-body h3, .items .card .card-body p {
    background-color: #fff !important;
    box-shadow: 0px 0px 5px #000;
    transition: all 0.3s ease;
}

.items .card .card-body h5:hover,
.card-body h3:hover,
.items .card.card-body p:hover {
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    background-color: #0009 !important;
    color: #fff;
}

/* Admin End */


/* Update Start */


.update p {
    font-weight: bold;
}

.update .card {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff !important;
    box-shadow: 0px 0px 10px #0009;
    border: none;
    margin-bottom: 10px;
}

.update .card .card-body {
    background-color: #fff !important;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.update .card .card-body img {
    width: 30px;
    height: 30px;
    margin: auto 0;
    align-items: center;
}

.update .card .card-body p {
    font-size: 14px;
    font-weight: 500;
    background-color: #fff !important;
    margin: 10px;
}


/* Update End */



/* Responsive Start */

@media only screen and (max-width: 1199px) {
    
    .update .card {
        width: 80%;
        padding: 30px;
    }
    
    .update .card .card-body {
        justify-content: start;
        padding: 3px 0;
    }
}


@media only screen and (max-width: 991px) {
    .items .card {
        width: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .items .card {
        width: 45%;
    }

    .items .card:last-child {
        width: 100%;
    }

    .update .card {
        width: 100%;
    }
}


@media only screen and (max-width: 425px) {
    .items .card {
        width: 100%;
    }
}

/* Responsive End */